.header {
  .icon {
    width: 1.75rem;
    margin-top: var(--sp-12);
    fill: var(--clr-primary);
  }
  //   background: var(--clr-bg);
  //   position: sticky;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;

  //   .container {
  //     display: flex;
  //     flex-wrap: wrap;
  //     align-items: center;
  //     padding-block: var(--sp-10);
  //   }
  //   @media (width < 50rem) {
  //     header {
  //       .container {
  //         justify-content: space-between;
  //       }
  //     }
  //   }
}
