$green-50: rgba(230, 244, 217, 1);
$green-100: rgba(205, 233, 179, 1);
$green-200: rgba(180, 222, 141, 1);
$green-300: rgba(155, 211, 103, 1);
$green-400: rgba(130, 200, 65, 1);
$green-500: rgba(118, 185, 0, 1); /* Base */
$green-600: rgba(104, 159, 0, 1);
$green-700: rgba(90, 133, 0, 1);
$green-800: rgba(76, 107, 0, 1);
$green-900: rgba(62, 81, 0, 1);
$green-950: rgba(48, 71, 0, 1);

/* Orangered Palette */
$orangered-50: rgba(255, 238, 221, 1);
$orangered-100: rgba(255, 219, 187, 1);
$orangered-200: rgba(255, 201, 153, 1);
$orangered-300: rgba(255, 183, 119, 1);
$orangered-400: rgba(255, 165, 85, 1);
$orangered-500: rgba(255, 69, 0, 1); /* Base */
$orangered-600: rgba(227, 60, 0, 1);
$orangered-700: rgba(199, 51, 0, 1);
$orangered-800: rgba(171, 42, 0, 1);
$orangered-900: rgba(143, 33, 0, 1);
$orangered-950: rgba(115, 24, 0, 1);
