@use "../scss/variables" as *;

.about {
  width: 100vw;
  height: 100vh;

  &.light {
    color: $green-50;
    background-color: $green-950;
  }
  &.dark {
    color: $green-950;
    background-color: $green-50;
  }
}
