.projectCard {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: var(--sp-32) var(--sp-64);

  .projectCard__preview img {
    // background-color: purple;
    aspect-ratio: 1.6;
    object-fit: cover;
  }
  .projectCard__desc {
    background-color: pink;
    margin-top: var(--sp-20);
  }
  @media (min-width: 50rem) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
